# Eat Safe, Love

## Notebook Set Up

In [1]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [26]:
# Find the establishments with a hygiene score of 20
query_hygene = establishments.find({'scores.Hygiene': 20})

# Use count_documents to display the number of documents in the result
count1 = establishments.count_documents({'scores.Hygiene': 20})
# Display the first document in the results using pprint
first_restaurant_hygiene_20 = establishments.find_one({'scores.Hygiene': 20})
pprint(f'number of restaurants with Hygene score of 20: {count1}')
pprint(first_restaurant_hygiene_20)

'number of restaurants with Hygene score of 20: 41'
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('673675fcd5fcea4d5886ffb9'),
 'geocode': {'latitude': 50.769705, 'longitude': 0.27694},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [27]:
# Convert the result to a Pandas DataFrame
df_Hygene = pd.DataFrame(list(query_hygene))

# Display the number of rows in the DataFrame
num_rows = df_Hygene.shape[0]
print("Number of rows in the DataFrame:", num_rows)

# Display the first 10 rows of the DataFrame
df_Hygene.head()

Number of rows in the DataFrame: 41

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,LocalAuthorityWebSite,LocalAuthorityEmailAddress,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending,meta,links
0,673675fcd5fcea4d5886ffb9,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,http://www.eastbourne.gov.uk/foodratings,Customerfirst@eastbourne.gov.uk,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': 0.27694, 'latitude': 50.769705}",,4613.888288,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
1,673675fcd5fcea4d5887033e,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,http://www.tendringdc.gov.uk/,fhsadmin@tendringdc.gov.uk,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",FHRS,"{'longitude': 1.278721, 'latitude': 51.857536}",,4617.965824,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
2,673675fcd5fcea4d58870642,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,http://www.tendringdc.gov.uk/,fhsadmin@tendringdc.gov.uk,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': 1.15927, 'latitude': 51.789429}",,4619.656144,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
3,673675fcd5fcea4d58870834,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,http://www.lewes-eastbourne.gov.uk/,ehealth.ldc@lewes-eastbourne.gov.uk,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,"{'longitude': 0.10202, 'latitude': 50.770885}",,4620.421725,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
4,673675fcd5fcea4d5887084e,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,http://www.lewes-eastbourne.gov.uk/,ehealth.ldc@lewes-eastbourne.gov.uk,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,"{'longitude': 0.101446, 'latitude': 50.770724}",,4620.437179,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [38]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query_london_rating = establishments.find({
    'AddressLine4':'London',
    'RatingValue' : {'$gte':4}
})

# Use count_documents to display the number of documents in the result
count_london_rating = establishments.count_documents({
    'AddressLine4':'London',
    'RatingValue':{'$gte':4}
})
print("Number of documents with AddressLine4 as 'London' and RatingValue >= 4:", count_london_rating)

# Display the first document in the results using pprint
first_london_rating = establishments.find_one({
    'AddressLine4':'London',
    'RatingValue':{'$gte':4}
})
print(f'The first document with London as local authority and Rating Value equal or greater than 4 is: {first_london_rating}')

Number of documents with AddressLine4 as 'London' and RatingValue >= 4: 390
The first document with London as local authority and Rating Value equal or greater than 4 is: {'_id': ObjectId('673675fcd5fcea4d5887546a'), 'FHRSID': 1049722, 'ChangesByServerID': 0, 'LocalAuthorityBusinessID': '18/00096/CP', 'BusinessName': 'The Mezzanine Cafe', 'BusinessType': 'Restaurant/Cafe/Canteen', 'BusinessTypeID': 1, 'AddressLine1': 'Arch D', 'AddressLine2': 'The Link Thamesmead', 'AddressLine3': 'Bazalgette Way', 'AddressLine4': 'London', 'PostCode': 'SE2 9BS', 'Phone': '', 'RatingValue': 4, 'RatingKey': 'fhrs_4_en-gb', 'RatingDate': '2022-05-24T00:00:00', 'LocalAuthorityCode': '503', 'LocalAuthorityName': 'Bexley', 'LocalAuthorityWebSite': 'http://www.bexley.gov.uk', 'LocalAuthorityEmailAddress': 'food.safety@bexley.gov.uk', 'scores': {'Hygiene': 10, 'Structural': 0, 'ConfidenceInManagement': 10}, 'SchemeType': 'FHRS', 'geocode': {'longitude': 0.121751002967358, 'latitude': 51.5002632141113}, 'RightToReply': '', 'Distance': 4646.357884390823, 'NewRatingPending': False, 'meta': {'dataSource': None, 'extractDate': '0001-01-01T00:00:00', 'itemCount': 0, 'returncode': None, 'totalCount': 0, 'totalPages': 0, 'pageSize': 0, 'pageNumber': 0}, 'links': [{'rel': 'self', 'href': 'http://api.ratings.food.gov.uk/establishments/1049722'}]}

In [51]:
# Convert the result to a Pandas DataFrame
df_london_rating = pd.DataFrame(list(query_london_rating))

# Display the number of rows in the DataFrame
print("Number of rows in the DataFrame:", df_london_rating.shape[0])
# Display the first 10 rows of the DataFrame
df_london_rating.head(10)

Number of rows in the DataFrame: 0

Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [52]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.0783519967076
longitude = 1.18590330311705

# Define the search range of ±0.01 degrees
latitude_min = target_latitude - degree_search
latitude_max = target_latitude + degree_search
longitude_min = target_longitude - degree_search
longitude_max = target_longitude + degree_search


query = establishments.find({
    'geocode.latitude': {'$gte': latitude_min, '$lte': latitude_max},
    'geocode.longitude': {'$gte': longitude_min, '$lte': longitude_max},
    'RatingValue': 5
})
sort = query.sort('scores.Hygiene', 1)  # Sort by Hygiene score in ascending order



# Print the results
matching_count = establishments.count_documents({
    'geocode.latitude': {'$gte': latitude_min, '$lte': latitude_max},
    'geocode.longitude': {'$gte': longitude_min, '$lte': longitude_max},
    'RatingValue': 5
})

print("Number of matching documents:", matching_count)

Number of matching documents: 155

In [54]:
# Convert result to Pandas DataFrame
df_results = pd.DataFrame(list(query))

# Display the sorted DataFrame
df_results.head()

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,LocalAuthorityWebSite,LocalAuthorityEmailAddress,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending,meta,links
0,673675fcd5fcea4d5886e4f5,1292455,0,PI/000078049,Sweet Rendezvous,Restaurant/Cafe/Canteen,1,5 Rendezvous Street,Folkestone,Kent,...,http://www.folkestone-hythe.gov.uk,foodteam@folkestone-hythe.gov.uk,"{'Hygiene': None, 'Structural': None, 'Confide...",FHRS,"{'longitude': 1.1813097, 'latitude': 51.0800235}",,4592.144852,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
1,673675fcd5fcea4d5886e4ed,1380216,0,PI/000078113,Lucky Chip,Restaurant/Cafe/Canteen,1,Ground Floor Business Premises,2 Church Street,Folkestone,...,http://www.folkestone-hythe.gov.uk,foodteam@folkestone-hythe.gov.uk,"{'Hygiene': None, 'Structural': None, 'Confide...",FHRS,"{'longitude': 1.1813759803772, 'latitude': 51....",,4592.124010,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
2,673675fcd5fcea4d5886e4c9,1023912,0,PI/000076188,Harbour Inn,Pub/bar/nightclub,7843,24-26 Harbour Street,Folkestone,Kent,...,http://www.folkestone-hythe.gov.uk,foodteam@folkestone-hythe.gov.uk,"{'Hygiene': None, 'Structural': None, 'Confide...",FHRS,"{'longitude': 1.185368, 'latitude': 51.079613}",,4591.981554,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
3,673675fcd5fcea4d5886e4c4,511409,0,PI/000039931,The Lifeboat,Pub/bar/nightclub,7843,42 North Street,Folkestone,Kent,...,http://www.folkestone-hythe.gov.uk,foodteam@folkestone-hythe.gov.uk,"{'Hygiene': None, 'Structural': None, 'Confide...",FHRS,"{'longitude': 1.186715, 'latitude': 51.081546}",,4592.005042,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."
4,673675fcd5fcea4d5886e4a7,1423242,0,PI/000078141,Little Rock,Other catering premises,7841,Folkestone Harbour,Harbour Approach Road,Folkestone,...,http://www.folkestone-hythe.gov.uk,foodteam@folkestone-hythe.gov.uk,"{'Hygiene': None, 'Structural': None, 'Confide...",FHRS,"{'longitude': 1.18590330311705, 'latitude': 51...",,4591.914705,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings...."

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [58]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
pipeline = [
    # Step 1: Match documents with a Hygiene score of 0
    {'$match': {'scores.Hygiene': 0}},
    
    # Step 2: Group by AddressLine4 and count the number of occurrences
    {'$group': {
        '_id': '$AddressLine4',  # Group by AddressLine4
        'count': {'$sum': 1}     # Count the number of documents in each group
    }},
    
    # Step 3: Sort the results by count in descending order
    {'$sort': {'count': -1}}
]

# Print the number of documents in the result
print("Number of documents with a Hygiene score of 0:", establishments.count_documents({'scores.Hygiene':0}))

# Print the first 10 results
first_10_matches = establishments.find(
    {'scores.Hygiene': 0},
    {'BusinessName': 1, '_id': 0}  # Project only the BusinessName field, exclude _id
).limit(10)

# Print each of the first 10 matches
for doc in first_10_matches:
    pprint(doc)

Number of documents with a Hygiene score of 0: 16827
{'BusinessName': 'The Ships Galley'}
{'BusinessName': 'Mariner'}
{'BusinessName': 'Folkestone Trawlers Shop'}
{'BusinessName': 'Dr Legumes - Harbour Arm'}
{'BusinessName': 'Docker'}
{'BusinessName': 'St Marys COE (aided) Primary School'}
{'BusinessName': 'The Club Hut'}
{'BusinessName': 'Custom Folkestone'}
{'BusinessName': 'The Dessert Junction'}
{'BusinessName': 'The Pilot'}

In [62]:
# Convert the result to a Pandas DataFrame
results_pipeline = establishments.aggregate(pipeline)
df_results_pipeline = pd.DataFrame(list(results_pipeline))

# Display the number of rows in the DataFrame
print("Number of rows in the DataFrame:", df_results_pipeline.shape[0])

# Display the first 10 rows of the DataFrame
df_results_pipeline.head(10)

Number of rows in the DataFrame: 427

           _id  count
0                7899
1         Kent   2145
2        Essex   1803
3    Greenwich    757
4  East Sussex    241
5   Colchester    208
6       London    202
7   Chelmsford    178
8    Maidstone    163
9     Dagenham    156